@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
$onyx: #2C302F;
$white: rgb(168, 166, 166);
$vanilla: #CDB8A3;
$seanymph: #74A69A;

/*====================== BASIC STYLING ===================*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    background: $onyx;
    color: $white;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
.whitespace {
    width: 100%;
    height: 100px;
}
@media(max-width: 768px) {
    .whitespace {
        display: none;
    }
}

/*====================== TYPEWRITTER EFFECT ===================*/
.line {
    width: 24em;
    top: 50%;
    margin: auto;
    border-right: 2px solid $white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 20em;
    }
}
@media(max-width: 768px) {
    @keyframes typewriter {
        from {
            width: 0;
        }
        to {
            width: 18em;
        }
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}
/*====================== NAVIGATION ===================*/
nav {
    width: 100%;
    background: $onyx;
    height: 80px;
    position: fixed;
    z-index: 1;

    #brand {
        float: left;
        display: block;
        margin-left: 82px;
        line-height: 80px;
        font-weight: 700;

        a {
            color: #fff;
            transition: all 0.3s ease-out;

            &:hover {
                text-decoration: none;
                color: $seanymph;
            }
        }
    }

    #menu {
        float: left;
        right: 80px;
        position: fixed;

        li {
            padding-left: 40px;
            display: inline-block;
            cursor: pointer;
            font-weight: 300;
            line-height: 80px;
            position: relative;
            transition: all 0.3s ease-out;

            span {
                font-weight: 700;
            }

            a {
                color: $vanilla;

                &:hover {
                    text-decoration: none;
                    color: $seanymph;
                }
            }
        }
    }

    #toggle {
        position: absolute;
        right: 30px;
        top: 20px;
        font-weight: 300;
        z-index: 2;
        width: 30px;
        cursor: pointer;
        float: right;
        transition: all 0.3s ease-out;
        visibility: hidden;
        opacity: 0;
    }
}

#resize {
    z-index: 5;
    top: 0px;
    position: fixed;
    background: $onyx;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;

    #menu {
        height: 90px;
        position: absolute;
        left: 45%;
        transform: translateX(-40%);
        text-align: center;
        display: table-cell;
        vertical-align: center;

        li {
            display: block;
            text-align: center;
            padding: 10px 0;
            font-size: 50px;
            min-height: 50px;
            font-weight: 700;
            cursor: pointer;
            transition: all .3s ease-out;

            &:nth-child(1) {
                margin-top: 140px;
            }

            a {
                color: $white;

                &:hover {
                    text-decoration: none;
                    color: $seanymph;
                }
            }
        }
    }
}
.active {
    visibility: visible;
    opacity: 1;
}

.close-btn {
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
}
@media(max-width: 768px) {
    nav #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
    }
    nav #brand {
        margin-left: 24px;
    }
    #menu a {
        font-size: 20px;
        font-weight: 300;
    }
    #resize li span {
        font-weight: bolder;
    }
    nav #menu {
        display: none;
    }
}
@media(min-width: 768px) {
    #resize {
        visibility: hidden !important;
    }
}

/*====================== HERO SECTION ===================*/
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-weight: 100;
        text-align: center;
        letter-spacing: -2px;
        line-height: 58px;
    }
}
@media(max-width: 768px){
    .header h1 {
        font-size: 20px;
    }
}

/*====================== SCROLL DOWN ICON ===================*/
.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 100px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: translate(.50%, 0) rotate(45deg);
    animation: fade-move-down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
@keyframes fade-move-down {
    0% {
        transform: translate(0, -20px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 20px) rotate(45deg);
        opacity: 0;
    }
}

/*====================== PROJECT SECTION ===================*/
h6 {
    text-align: center;
}
.vertical {
    margin-top: 40px;
    border-left: 1px solid $white;
    height: 80px;
    position: absolute;
    left: 50%;
}

.project {
    height: 500px;
}
.project1 {
    background: url(../images/abstract-painting-art-contemporary-art.jpg) no-repeat 50% 50%;
    background-size: cover;

    &::after {
        content: "natural colors.";
        font-size: 36px;
        position: relative;
        color: #fff;
        display: block;
        top: 8%;
        left: -40%;
        right: 0;
        bottom: 0;
    }
}
.project2 {
    background: url(../images/art-black-and-white-blur.jpg) no-repeat 50% 50%;
    background-size: cover;

    &::after {
        content: "abstract concepts.";
        font-size: 36px;
        position: relative;
        color: $white;
        display: block;
        top: 80%;
        left: 95%;
        right: 0;
        bottom: 0;
    }
}
.project3 {
    background: url(../images/art-black-and-white-body.jpg) no-repeat 50% 50%;
    background-size: cover;

    &::after {
        content: "always and forever.";
        font-size: 36px;
        position: relative;
        color: $white;
        display: block;
        top: 80%;
        left: -50%;
        right: 0;
        bottom: 0;
    }
}
.project4 {
    background: url(../images/art-black-and-white-branches.jpg) no-repeat 50% 50%;
    background-size: cover;

    &::after {
        content: "everything is already here.";
        font-size: 36px;
        position: relative;
        color: $white;
        display: block;
        top: 10%;
        left: 90%;
        right: 0;
        bottom: 0;
    }
}
@media(max-width: 768px) {
    .project {
        width: 90%;
        margin: 14px auto;
    }
    .vertical {
        display: none;
    }
    .project1::after, .project2::after, .project3::after, .project4::after {
        display: none;
    }
}

/*====================== FOOTER SECTION STYLING ===================*/
.collab {
    text-align: right;

    p {
        font-weight: lighter;
        margin-bottom: 20px;
    }
}
.hr {
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}
.info {
    h4 {
        font-size: 18px;
        font-weight: lighter;
    }
    p {
        color: $vanilla;
    }
    li {
        font-weight: lighter;
        font-size: 18px;
        padding-left: 20px;
        list-style: none;
    }
    #fb:before {
        display: inline-block;
        content: " ";
        border-radius: 100%;
        height: 6px;
        width: 6px;
        margin-right: 6px;
        background: #3b5998;
    }
    #tw:before {
        display: inline-block;
        content: " ";
        border-radius: 100%;
        height: 6px;
        width: 6px;
        margin-right: 6px;
        background: #55acee;
    }
    #ig:before {
        display: inline-block;
        content: " ";
        border-radius: 100%;
        height: 6px;
        width: 6px;
        margin-right: 6px;
        background: #fcaf45;
    }
    #yt:before {
        display: inline-block;
        content: " ";
        border-radius: 100%;
        height: 6px;
        width: 6px;
        margin-right: 6px;
        background: #c4302b;
    }
    #media, #address {
        text-align: right;
    }
    #media ul li {
        display: inline-block;
    }
}
@media(max-width: 768px) {
    .collab, #personal, #media, #address {
        text-align: center !important;
    }
    .info ul {
        margin: 0 0 0 -22px;
        padding: 0;
    }
}

/*====================== WORK PAGE ===================*/
.hero-content {
    margin-left: 0%;

    p {
        font-weight: 300;
        line-height: 36px;
    }
    h6 {
        text-align: left;
        color: $seanymph;
    }
}
@media(max-width: 768px) {
    .hero-content {
        padding-top: 50px;
        width: 96%;
        margin: 0 auto;
    }
}

/*====================== ABOUT PAGE ===================*/
.about {
    height: 500px;
    margin: 5% 0;
}
.image {
    background: url('../images/actor-adult-black-and-white.jpg') no-repeat 50% 70% / cover;
}

/*====================== CONTACT PAGE ===================*/
#contact-form {
    margin: 5% 1.4%;

    ul {
        list-style: none;
        border-radius: 5px;
        margin-bottom: 40px;
    }
    li {
        padding: 10px;

        &:last-of-type {
            border-bottom: none;
        }
    }

    label {
        display: block;
        font-size: .8em;
        color: #999;
    }
}
#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    color: #fff;
    font-weight: 300;
}
input:focus {
    outline: none;
    border: none;
}
textarea:focus {
    outline: none;
    border: none;
}
.textarea {
    border-bottom: 1px solid $white;
}
.send {
    margin-left: 50px;
    text-transform: uppercase;
    padding: 15px 25px;
    background: transparent;
    color: $white;
    font-size: 14px;
    letter-spacing: 2px;
    border: 1px solid $white;
    transition: all .2s ease-out;

    &:hover {
        background: $white;
        color: $onyx;
    }
}
@media(max-width: 768px) {
    #contact-form {
        margin: 5% -8%;
        width: 96%;
    }
}

/*=============== PROJECT PAGE ====================*/
.prev p {
    text-align: left;
}
.next p {
    text-align: right;
}